.tqvxc { 
  padding-right: 70px;
  padding-bottom: 7px;
  margin-bottom: 34px;
  padding-top: 91px;
  border-left-width: 57px;
  margin-top: 99px;
  font-size: 91px;
  padding-left: 35px;
  margin-bottom: 23px;
  padding-top: 66px;
  border-right-width: 26px;
  border-left-width: 13px;
  padding-right: 52px;
  border-bottom-width: 54px;
  margin-left: 3px;
  padding-top: 38px;
  margin-right: 82px;
  border-bottom-width: 41px;
  border-top-width: 27px;
  border-left-width: 84px;
  border-bottom-width: 94px;
  font-size: 1px;
  margin-left: 67px;
  margin-bottom: 19px;
  padding-right: 24px;
  border-bottom-width: 18px;
  font-size: 97px;
  margin-bottom: 4px;
  border-left-width: 54px;
  border-bottom-width: 52px;
  margin-left: 51px;
  font-size: 63px;
  padding-left: 98px;
  padding-left: 92px;
  border-left-width: 70px;
  padding-left: 15px;
  padding-left: 18px;
}
