.tqvxc { 
  padding-right: 70px;
  padding-bottom: 7px;
  margin-bottom: 34px;
  padding-top: 91px;
  border-left-width: 57px;
  margin-top: 99px;
  font-size: 91px;
  padding-left: 35px;
  margin-bottom: 23px;
  padding-top: 66px;
  border-right-width: 26px;
  border-left-width: 13px;
}
